{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "babel-plugin-transform-es2015-literals",
    "angular2-annotations",
    "transform-object-assign",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}