:root {
    --appOrange: #e84700;
    --appGray: #969696;
}

@custom-media --mobile-screen (width <= 480px);
@custom-media --iphone4  screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3);
@custom-media --iphone5  screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71);
@custom-media --iphone6  screen and (min-device-width: 375px) and (max-device-width: 667px);

html, body {
    background: white;
    font-family: 'Lato', 'Open Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    overflow: hidden;
}

.category-img {
    width: 10%;;
}

.field-error {
    color: red;
    margin-left: 1em;
}

.lag-icon {
    display: block;
    width: 80px;
    height: 80px;
    border: 4px solid var(--appOrange);
    -webkit-border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.lag-icon.lag-info::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 29px;
    left: 50%;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: var(--appGray);
}

.lag-icon.lag-info::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
    background-color: var(--appGray);
    left: 50%;
}

.no-data-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 20%;
}

.no-data-message {
    text-align: center;
    width: 100%;
    font-size: 1.3em;

}

.loc-app .item-checkbox {
    padding-left: 55px;
}

.divider {
    text-align: center;
    background: lightgray;
    padding: 10px;
    line-height: 2em;
}